html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

body {
  font-family: 'Rubik', serif;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

input[type='text'],
input[type='number'] {
  font-family: inherit;
  font-size: 18px;
  color: #181a28;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1430px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-size: 42px;
  color: #1d1d1b;
  margin-bottom: 60px;
}

/* header */
.header__index {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__inner {
  display: flex;
  padding-top: 40px;
  gap: 90px;
  align-items: center;
}

.nav__ul {
  display: flex;
  gap: 40px;
}

.nav__ul-li {
  padding: 0 10px;
}

.nav__ul-a {
  color: #1d1d1b;
  font-size: 16px;
}

.nav__ul-li.active-link {
  color: #27ae60;
  cursor: pointer;
  position: relative;
}

.submenu {
  visibility: hidden;
  opacity: 0;
  transition: 0.3s linear;
  position: absolute;
  min-width: 203px;
  top: 30px;
  background-color: rgba(39, 174, 96, 0.1);
  padding-left: 20px;
  border-radius: 15px;
  padding-top: 9px;
  padding-bottom: 8px;
  right: 10px;
}

.submenu a {
  font-size: 16px;
  color: #1d1d1b;
  display: inline-block;
  width: 100%;
}

.nav__ul-li.active-link.show .submenu {
  visibility: visible;
  opacity: 1;
}

.nav__ul-li.active-link::after {
  content: '';
  position: absolute;
  background-image: url('../images/link.svg');
  width: 8px;
  height: 6px;
  right: -4px;
  top: 7px;
}

.nav.active .burger__menu {
  visibility: visible;
  opacity: 1;
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  display: none;
}

.burger span {
  width: 30px;
  height: 4px;
  background-color: #000;
}

.burger__menu {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  transition: all 0.3s linear;
}

.burger__menu-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.burger__menu-exit {
  cursor: pointer;
}

.burger__menu-ul {
  text-align: center;
}

.burger__menu-li {
  text-align: center;
  margin-bottom: 48px;
}

.burger__menu-a {
  font-size: 20px;
  color: #1d1d1b;
  position: relative;
}

.burger__menu-a.active-link {
  color: #27ae60;
  position: relative;
}

.burger__menu-a.active-link::after {
  content: '';
  position: absolute;
  background-image: url('../images/link.svg');
  width: 8px;
  height: 6px;
  right: -20px;
  top: 10px;
}

.relative {
  position: relative;
}

.submenu-burger {
  opacity: 0;
  transition: all 0.3s linear;
  visibility: hidden;
  transition: 0.3s linear;
  position: absolute;
  min-width: 150px;
  background-color: rgba(39, 174, 96, 0.1);
  border-radius: 15px;
  padding-top: 9px;
  padding-bottom: 8px;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  top: 30px;
}

.submenu-burger.show {
  opacity: 1;
  visibility: visible;
}

.burger__menu-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 220px;
  justify-self: center;
}

.burger__menu-politic {
  position: absolute;
  bottom: 100px;
  text-align: center;
  left: 0;
  right: 0;
  font-size: 12px;
}

/* main */
.main {
  flex-grow: 1;
}

/* promo */
.promo {
  background-image: url('../images/promo.png');
  background-repeat: no-repeat;
  background-position-x: 80%;
  background-size: cover;
  margin-bottom: 80px;
}

.promo__inner {
  min-height: 100vh;
  position: relative;
}

.promo__content {
  position: absolute;
  bottom: 200px;
}

.promo__title {
  font-weight: 700;
  color: #fff;
  font-size: 60px;
  max-width: 700px;
  margin-bottom: 50px;
}

.subtitle {
  font-size: 20px;
  max-width: 775px;
  margin-bottom: 67px;
  color: #fff;
}

.btn {
  background-color: #27ae60;
  font-weight: 500;
  color: #fff;
  font-size: 22px;
  border-radius: 15px;
  padding: 20px 36px;
  font-family: 'Rubik', serif;
}

/* chooce */
.chooce {
  margin-bottom: 80px;
}

.chooce__ul {
  display: flex;
  gap: 15px;
}

.chooce__li {
  padding: 20px 44px 20px 75px;
  line-height: 143%;
  border: 1px solid #a8a8a8;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
}

.chooce__li p {
  max-width: 167px;
}

.chooce__li span {
  color: #27ae60;
}

.chooce__li--work {
  position: relative;
}

.chooce__li--work::before {
  content: '';
  position: absolute;
  background-image: url('../images/work.png');
  width: 32px;
  height: 32px;
  left: 20px;
}

.chooce__li--client {
  position: relative;
}

.chooce__li--client::before {
  content: '';
  position: absolute;
  background-image: url('../images/client.png');
  width: 32px;
  height: 32px;
  left: 20px;
}

.chooce__li--price {
  position: relative;
}

.chooce__li--price::before {
  content: '';
  position: absolute;
  background-image: url('../images/price.png');
  width: 32px;
  height: 32px;
  left: 20px;
}

.chooce__li--product {
  position: relative;
}

.chooce__li--product::before {
  content: '';
  position: absolute;
  background-image: url('../images/product.png');
  width: 32px;
  height: 32px;
  left: 20px;
}

.chooce__li--time {
  position: relative;
}

.chooce__li--time::before {
  content: '';
  position: absolute;
  background-image: url('../images/time.png');
  width: 32px;
  height: 32px;
  left: 20px;
}

/* material */
.material {
  margin-bottom: 80px;
}
.material__inner {
  gap: 5px;
  display: flex;
  justify-content: space-between;
}
.material__box {
  position: relative;
  transition: all 0.3s;
}

.material__box:hover {
  transform: translateY(-20px);
}

.material__box--asphalt {
  border-radius: 10px;
}

.material__box-p {
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 40px;
  position: absolute;
  max-width: 260px;
  bottom: 40px;
  left: 40px;
}

/* about */
.about {
  margin-bottom: 80px;
}

.about__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.about__left {
  width: 50%;
}
.about__left-p {
  color: #67675f;
  max-width: 580px;
}
.about__right {
  width: 50%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  gap: 150px;
  min-height: 445px;
  align-items: center;
  border-radius: 24px;
}
.about__right-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__right-title {
  font-size: 88px;
  font-weight: 300;
  margin-bottom: 50px;
}

.about__right-title span {
  color: #27ae60;
}

.about__right-subtitle {
  font-size: 24px;
}

/* question */
.question {
  margin-bottom: 80px;
  background-color: #f8f8f8;
  padding: 63px 0;
}

.question__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question__content {
  max-width: 460px;
}
.question__content-title {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 30px;
}
.question_content-subtitle {
  margin-bottom: 30px;
  font-size: 28px;
}
.question_content-desc {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 50px;
}

.question__form {
  max-width: 686px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 12px;
  padding-top: 45px;
  padding-bottom: 30px;
  position: relative;
}

.question__form::after {
  content: '';
  width: 318px;
  height: 63px;
  background-color: #27ae60;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -63px;
}

.question__form::before {
  content: '';
  width: 318px;
  height: 63px;
  background-color: #27ae60;
  position: absolute;
  top: -63px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__input {
  max-width: 596px;
  width: 100%;
  height: 65px;
  border-radius: 6px;
  border: 1px solid #dddddd;
  padding: 0 29px;
  margin-bottom: 20px;
}

.form__textarea {
  max-width: 596px;
  width: 100%;
  height: 172px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  padding: 29px 29px;
  resize: none;
  margin-bottom: 40px;
  font-family: inherit;
  font-size: 18px;
  color: #181a28;
}

.form__textarea::placeholder,
.form__input::placeholder {
  font-family: 'Rubik', serif;
  font-size: 18px;
  color: #181a28;
  opacity: 0.5;
}

.question__form-link {
  font-size: 15px;
  color: #181a28;
  display: block;
  max-width: 596px;
  width: 100%;
  margin-bottom: 35px;
}

.question__btn-two {
  display: none;
}

/* delivery  */
.delivery {
  position: relative;
  min-height: 980px;
}

.dilivery__content {
  max-width: 580px;
}

.dilivery__title {
  padding-top: 40px;
}
.dilivery__descr {
  font-size: 20px;
  color: #1e1e1c;
  line-height: 140%;
  margin-bottom: 36px;
}

.dilivery__list {
  margin-bottom: 180px;
}

.dilivery__list-li {
  line-height: 140%;
  font-size: 16px;
  font-weight: 300;
  color: #1e1e1c;
  margin-bottom: 65px;
  padding-left: 40px;
  position: relative;
}

.dilivery__list-li::before {
  content: '';
  position: absolute;
  background-image: url('../images/star.svg');
  width: 22px;
  height: 21px;
  left: 0;
}
.dilivery__ul {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.dilivery__ul-li {
  max-width: 340px;
  width: 100%;
  text-align: center;
  background-color: #f8f8f8;
  padding: 70px 0;
}

.dilivery__ul-title {
  font-size: 18px;
  color: #393838;
  font-weight: 500;
  margin-bottom: 15px;
}

.dilivery__ul-subtitle {
  font-size: 16px;
  color: #848692;
}

.dilivery__map {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 950px;
  width: 100%;
  height: 100%;
}

.dilivery__map-info {
  position: absolute;
  top: 37px;
  left: 35px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  padding: 13px 38px;
  background-color: #27ae60;
}

/* menu */
.menu {
  margin-top: 50px;
  margin-bottom: 100px;
}

.menu__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.menu__item {
  font-size: 24px;
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  padding-bottom: 6px;
  border-bottom: 1px solid #cdcdcd;
}

.menu__item.active {
  color: #27ae60;
  border-bottom: 1px solid #27ae60;
}
/* content */

.spec {
  display: flex !important;
}

.rental {
  margin-top: 70px;
}

.rental__box {
  display: flex;
}

.content__box {
  display: none;
  gap: 25px;
  margin-bottom: 80px;
}
.content__box.activeBlock {
  display: flex;
  animation-name: circle;
  animation-duration: 0.3s;
}

.content__text-p {
  color: #1d1d1b;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 60px;
}

.content__description {
  display: flex;
  justify-content: space-between;
  max-width: 562px;
  margin-bottom: 20px;
}
.content__description-title {
  line-height: 130%;
  font-size: 16px;
  padding-right: 5px;
}
.decor {
  border-bottom: 1px solid #cccccc;
  flex-grow: 1;
}
.content__description-price {
  line-height: 130%;
  font-size: 16px;
  padding-left: 5px;
}
.price {
  line-height: 130%;
  font-size: 16px;
  color: #27ae60;
}

/* footer */
.footer {
  background-color: #424141;
  color: #fff;
  padding: 20px 0;
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__center,
.footer__right {
  display: flex;
  align-items: center;
}

.footer__left {
  gap: 50px;
}

.footer__left-link {
  color: #b2b2b2;
}

.footer__center {
  gap: 50px;
}

.footer__right {
  gap: 25px;
}

.footer__right-span {
  padding: 14px;
  border: 1px solid #fff;
}

@keyframes circle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* адаптив */

@media (max-width: 1675px) {
  .delivery {
    display: flex;
    min-height: 100%;
  }
  .dilivery__map {
    position: relative;
    height: auto;
  }
}

@media (max-width: 1561px) {
  .material__inner {
    flex-wrap: wrap;
  }
}

@media (max-width: 1241px) {
  .footer {
    position: relative;
    padding-bottom: 30px;
  }

  .footer__politic {
    position: absolute;
    display: flex;
    /* font-size: 12px; */
    bottom: 20px;
    left: 0;
    right: 0;
    justify-content: center;
  }
  .footer__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 20px;
    padding-bottom: 20px;
  }

  /* .footer__logo-img {
    width: 109px;
  } */

  .footer__right {
    grid-row-start: 1;
    grid-column-start: 2;
    justify-content: end;
  }

  .footer__center {
    grid-column-start: 1;
    grid-row-start: 2;
    /* gap: 25px; */
  }

  .footer__phone {
    grid-column-start: 2;
    grid-row-start: 2;
    display: flex;
    justify-content: flex-end;
  }

  /* .footer__center-li,
  .footer__right-span {
    font-size: 14px;
  } */
}

@media (max-width: 1170px) {
  .question__inner {
    flex-direction: column;
  }

  .question__content {
    max-width: 100%;
  }

  .question__form::before {
    display: none;
  }

  .question__form::after {
    display: none;
  }

  .question__btn-one {
    display: none;
  }

  .question__btn-two {
    display: block;
  }

  .question__form {
    max-width: 100%;
    padding: 41px 15px;
  }

  .content__box {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1130px) {
  .chooce__ul {
    flex-direction: column;
  }
  .about__inner {
    flex-direction: column;
  }
  .about__left {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .about__title {
    margin-bottom: 25px;
  }

  .about__left-p {
    max-width: 100%;
  }
  .about__right {
    width: 100%;
  }
}

@media (max-width: 1029px) {
  .nav__ul {
    gap: 20px;
  }
}

@media (max-width: 980px) {
  .delivery {
    flex-direction: column;
  }

  .dilivery__content {
    max-width: 100%;
  }

  .dilivery__list {
    margin-bottom: 30px;
  }

  .dilivery__list-li {
    margin-bottom: 15px;
  }

  .dilivery__ul {
    justify-content: flex-start;
    margin-bottom: 30px;
  }

  .dilivery__map {
    height: 387px;
  }
}

@media (max-width: 950px) {
  .nav__ul {
    display: none;
  }
  .burger {
    display: flex;
  }
  .header__inner {
    justify-content: space-between;
  }
}

@media (max-width: 760px) {
  .promo__title {
    font-size: 40px;
  }
  .subtitle {
    font-size: 18px;
  }

  .about__left-p {
    font-size: 14px;
  }

  .menu__item {
    font-size: 16px;
  }
}

@media (max-width: 725px) {
  .material__inner {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 25px;
    margin-bottom: 25px;
  }

  .material__box-p {
    font-size: 24px;
  }

  .question__content-title {
    font-size: 25px;
    margin-bottom: 25px;
  }

  .question_content-subtitle {
    font-size: 16px;
    color: #27ae60;
    max-width: 335px;
  }
  .question_content-desc {
    font-size: 14px;
  }
}

@media (max-width: 645px) {
  .dilivery__ul {
    flex-direction: column;
    align-items: center;
  }

  .about__right {
    min-height: 340px;
  }

  .dilivery__ul-li {
    max-width: 100%;
    padding: 20px;
  }

  .about__right-title {
    font-size: 50px;
  }

  .about__right-subtitle {
    font-size: 18px;
  }

  .form__input {
    height: 40px;
    margin-bottom: 15px;
    padding: 0 15px;
  }

  .form__textarea {
    height: 128px;
    padding: 15px 15px;
  }

  input[type='text'],
  input[type='number'] {
    font-family: inherit;
    font-size: 14px;
    color: #181a28;
  }

  .btn {
    padding: 10px 16px;
  }

  .footer__politic {
    font-size: 12px;
  }

  .footer__logo-img {
    width: 109px;
  }

  .footer__center {
    gap: 25px;
  }

  .footer__center-li,
  .footer__right-span,
  .content__text-p,
  .content__description-title,
  .content__description-price {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .about__right {
    flex-direction: column;
    gap: 40px;
  }
}

@media (max-width: 480px) {
  .promo__title {
    font-size: 30px;
  }
  .subtitle {
    font-size: 16px;
  }
}

@media (max-width: 364px) {
  .footer__right-span {
    padding: 2px;
  }
}
